/*Universal Styles*/
a {
  color: var(--nav-txt);
  text-decoration: none;
}

a:hover {
  color: var(--nav-txt-hv);
  font-weight: bold;
  text-decoration: underline;
}

body {
  box-sizing: border-box;
  background-color: var(--alt-main);
  font-family: 'Cabin Condensed', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  color: var(--body-txt-dark);
}

i {
  margin: 0 8px 0 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

:root {
  --accent-blue: rgb(66 154 232);
  --accent-purple: rgb(168 105 173);
  --accent-teal: rgb(102 184 191);
  --alt-main: rgb(238 242 246);
  --body-txt-dark: rgb(106 105 110);
  --body-txt-light: rgb(200 203 206);
  --main: rgb(255 255 255);
  --nav: rgb(55 64 80);
  --nav-bdr: rgb(49 57 73);
  --nav-txt: rgb(206 212 223);
  --nav-txt-hv: rgb(250 252 252);
}

.rounded-img {
  border-radius: 50%
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  color: var(--body-txt-dark);
  display: grid;
  grid-template-columns: 200px auto;
  margin: 0;
  max-width: 100%;
  padding: 10px;
}

/*<!-- ***Navigation Section-- left page column*** -->*/
.bl-chbox {
  color: blue;
  background-color: blue;
}

.bl-chbox:hover {
  background-color: var(--main);
}

.fa-caret-down {
  align-self: center;
  justify-self: center;
}

.gr-chbox {
  background-color: green;
  color: green;
}

.gr-chbox:hover {
  background-color: var(--main);
}

.navigation {
  background-color: var(--nav);
  color: var(--nav-txt);
  display: grid;
  grid-column: 1;
  grid-row: 1/10;
  grid-template-rows: 200px 300px 300px 300px;
  justify-self: center;
  width: 100%;
}

.nav-block {
  padding: 8px 6px;
}

.nav-li {
  width: 100%;
}

.nav-li:hover {
  background-color: var(--nav-bdr);
  border-left: 3px solid var(--accent-blue);
  color: var(--nav-txt-hv);
}

.nav-title {
  display: grid;
  border-top: 3px solid var(--nav-bdr);
  font-weight: bold;
  grid-template-rows: auto;
  height: 300px;
  padding: 20px 15px;
}

.nav-ul {
  width: 100%;
}

.rd-chbox {
  color: red;
  background-color: red;
}

.rd-chbox:hover {
  background-color: var(--main);
}

.user {
  align-self: center;
  grid-row: 1;
  justify-self: center;
  width: 6.5rem;
}

.user-info {
  display: grid;
  font-weight: bold;
  grid-template-rows: 3fr 1fr;
  height: 200px;
}

.user-txt {
  align-self: start;
  display: flex;
  display: inline;
  justify-self: center;
  grid-row: 2;
}

.yl-chbox {
  color: yellow;
  background-color: yellow;
}

.yl-chbox:hover {
  background-color: var(--body-txt-dark);
}

/*<!-- ***Search Section-- top page area*** -->*/
.fa-bars {
  margin: 0;
}

.fa-caret-left {
  color: var(--accent-blue);
  margin: 0;
  padding-right: 3px;
}

.fa-caret-left:hover {
  color: var(--main);
}

.fa-search {
  align-self: center;
  grid-column: 1;
  justify-self: end;
  padding: 0px 8px 0 15px;
}

.open-nav-section {
  align-self: center;
  background-color: var(--main);
  border-right: 3px solid var(--body-txt-light);
  display: flex;
  grid-column: 1;
  justify-self: center;
  padding: 20px;
}

.open-nav-section:hover {
  background-color: var(--accent-blue);
  color: var(--main);
}

.search-area {
  background-color: var(--main);
  border-bottom: 3px solid var(--body-txt-light);
  display: grid;
  grid-template-columns: 65px auto 55px 55px 55px;
  grid-column: 2;
  grid-row: 1;
}

.search-bar {
  align-self: center;
  display: grid;
  grid-column: 2;
  grid-template-columns: 30px auto;
  justify-self: start;
  padding-left: 20px;
}

.search-icons {
  align-self: center;
  background-color: var(--main);
  border-left: 3px solid var(--body-txt-light);
  justify-self: center;
  padding: 20px;
}

.search-icons:hover {
  background-color: var(--accent-blue);
  color: var(--main);
}

.search-txt {
  align-self: center;
  grid-column: 2
  justify-self: start;
}

/*<!-- ***Representative Section-- 2nd top page area*** -->*/
.fa-circle {
  color: green;
}

h2 {
  grid-column: 1;
  grid-row: 1;
}

.location-container {
  display: flex;
  grid-column: 1;
  grid-row: 2;
}

.preview {
  color: var(--accent-blue);
}

.representative-area {
  background-color: var(--main);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2;
  grid-column: 1.5fr 1fr;
  grid-row: 2;
  padding: 20px;

}

.representative-buttons {
  align-self: center;
  display: flex;
  grid-column: 2;
  grid-row: 1/3;
  justify-self: center;
  padding: 10px;
}

.rep-icon {
  margin: 0;
  padding: 5px;
}

.rounded-edge-oblong {
  background-color: var(--main);
  border-radius: 50px;
  display: flex;
  flex-direction: row-reverse;
  margin: 8px;
  padding: 8px;
}

.rounded-edge-circle {
  border-radius: 50%;
  margin: 8px;
  padding: 8px;
}
/*<!-- ***Drop Down Menu Section -- 3rd top page area*** -->*/
.drop-down-menu {
  padding: 20px 20px 0px 20px;
}

.drop-down-li {
  color: var(--body-txt-light);
  padding: 10px;
}

.drop-down-li:hover {
  color: var(--body-txt-dark);
  border-bottom: 3px solid var(--accent-blue);
  font-weight: bold;
}

.drop-down-menu {
  background-color: var(--main);
  font-size: .75rem;
  grid-column: 2;
  grid-row: 3;
}

.drop-down-ul {
  display: flex;
  margin: 0;
  padding: 0;
}

/*<!-- ***Graphics Section -- Middle Page Area*** -->*/
.graphics-area {
  background-color: var(--alt-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  grid-row: 4;
  padding: 10px;
  width: 100%;
}

.graphics-btn {
  background-color: var(--main);
  padding: 8px;
  border-radius: 50px;
}

.circles-btn {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.bargraph-btn {
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.bar-graph-img {
  width: 100%;
  grid-row: 1;
  /*padding: 30px;*/
  justify-self: center;
  align-self: center;
}

.bar-graph-stats {
  display: grid;
  grid-template-rows: 4fr 1fr;
}

.circle-stat-area {
  display: grid;
  grid-template-rows: 4fr 1fr;
  width: 100%;
}

.circle-stats {
  background-color: var(--alt-main);
  display: flex;
  flex-flow: row nowrap;
  grid-row:1;
  justify-self: center;
  align-self: center;
}

.single-chart {
  justify-content: space-around;
  width: 50%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-height: 150px;
  max-width: 80%;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.teal .circle {
  stroke: var(--accent-teal);
}

.circular-chart.blue .circle {
  stroke: var(--accent-blue);
}

.circular-chart.purple .circle {
  stroke: var(--accent-purple);
}

.circle-txt {
  color: var(--body-txt-dark);
  font-size: 0.25rem;
  text-anchor: middle;
}

/*<!-- ***Job Showcase Section -- Bottom Page Area*** -->*/


.job-container {
  background-color: var(--alt-main);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr auto;
  grid-column: 2;
  grid-row: 5;
  padding: 20px;
  grid-gap: 20px;
  width: 100%;
}

.job-desc {
  grid-column: 1;
  grid-row: 1/3;
  background-color: var(--main);
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-columns: 200px auto;
  font-size: 0.75rem;
}

.edit {
  background-color: rgb(128 140 164);
  padding: 5px;
  color: var(--main);
  border: 0px;
  /*display: flex;*/
}

.jbshow-top {
  align-self: center;
  justify-content: center;
  padding: 25px;
  height: auto;
  border-bottom: 3px solid var(--body-txt-light);
}

.jbshow-bottom {
  align-self: center;
  justify-content: center;
  padding: 25px;
  height: auto;
  border-top: 3px solid var(--body-txt-light);
}

.long-txt {
  align-self: center;
  justify-content: center;
  padding: 25px;
  height: auto;
}

.jbshow-img {
  display: flex;
  border-top: 3px solid var(--body-txt-light);
}

.gray-bar {
  background-color: rgb(113 126 147);
  grid-row: 1/2;
  color: var(--main);
  height: 20px;
  padding: 30px;
}

.copy {
  background-color: var(--accent-teal);
}

.hiring-lead {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  padding-right: 10px;
}

.social-media {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px
}

.external-post {
  display: grid;
  grid-template-rows: auto(3, 1fr)
  padding: 20px;
  display: grid;
  font-size: 0.75rem;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--body-txt-light);
}

.xp {
  border-bottom: hidden;
}

.alt-title {
  grid-row: 1;
  display: flex;
  align-content: center;
  align-items: center;
}

.alt-txt {
  grid-row: 2;
  width: 100%;
}

.alt-connect {
  grid-row: 3;
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 40px;
  width: 100%;
}

textarea {
  outline: none;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
  height: 20px;
  margin: 0;
  width: 70%;
}

.tx-area {
  width: 100%;
}

.copy {
  color: var(--main);
  height: 26px;
  margin: 0;
  width: 30%;
}


.alt-job-connections {
  grid-column: 2;
  grid-row: 2;
  padding-right: 20px;
  margin: 5px;
}

.soc-med {
  height: 2rem;
  color: var(--main);
  margin: 5px;
  padding: 10px;
}

.facebook {
  background-color: rgb(80 112 186);
  display: flex;
  font-size: 0.5rem;
}

.twitter {
  background-color: rgb(71 169 233);
  display: flex;
  font-size: 0.5rem;
}

.linkedin {
  background-color: rgb(52 128 183);
  display: flex;
  font-size: 0.5rem;
}

.soc-med-icon {
  position: relative;
  padding-right: 20px;
}

/*Media Styles*/
@media(min-width: 850px) and (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 150px auto;
  }

  .navigation {
    font-size: 0.75rem;
  }

}

@media(min-width: 300px) and (max-width: 850px) {
  
  .wrapper {
    grid-template-columns: 80px auto;
    display: grid;
  }

  a.nav-block {
    visibility: collapse;
  }

  .user-info {
    visibility: collapse;
  }

  .job-container {
    grid-template-columns: 1fr;
  }

  .graphics-area {
    grid-template-columns: 1fr;
  }

  .drop-down-menu {
  font-size: .3rem;
  padding: 2px;
  }

  .job-container {
    grid-column: 1fr;
  }

  .job-desc {
    grid-column: 1fr;
    grid-row: 1;
  }

  .social-media {
    grid-row: 2;
  }

  .alt-job-connections {
    grid-row: 3;
  }

  .main {
   visibility: collapse;
  }

  .admin {
   visibility: collapse;
  }

  .categories {
    visibility: collapse;
  }

  .drop-down-li {
    padding: 5px;
  }
